VITE_API_URL=https://cancerregister-1.onrender.com/api/v1
VITE_MOCK_API=false
VITE_STATS_API_URL=https://cancerregister-1.onrender.com/api/v1
VITE_APP_NAME=CancerRegister-1
VITE_MOBILE_APP_URL=https://questionnaire-app-khaki-alpha.vercel.app/patient

